<header><img class="toplogo" th:src="@{images/careydevlogosmall.png}"/>
<script th:src="@{/js/menu.js}"></script>     
<link th:href="@{/css/menu.css}" rel="stylesheet"/>
<br/>
<!-- http://cssmenumaker.com/menu/responsive-flat-menu -->
<div id='cssmenu'>
<ul>
   <li class="active"><a href='./'>Home</a></li> 
   <li><a href='#'>Tools</a>
      <ul>
         <li><a th:href="@{/basicmetrics}">Domain Metrics</a></li>
         <li><a th:href="@{/linksmetrics}">Backlink Checker</a></li>
      </ul>
   </li>
</ul>
</div>
<br/>
<hr/>
</header>