<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Moz Metrics : Domain Metrics</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

	<script th:src="@{/js/jquery.js}"></script>
	<script th:src="@{/js/basicmetrics.js}"></script>    

	<style>
		.resultText {
			font-family: Arial, Helvetica, sans-serif;
			font-weight:normal;
			font-size:12pt;
			padding: 5px 5px 5px 5px;
			border: 1px solid black;
		}
	</style>    
</head>
<body class="wide">
<div th:include="fragments/header :: header">...</div>

    <div id="main-wrapper">
        <div class="dark-grey">
            <div class="container">
            	<div class="row">
                	<div class="span12">
                        <div class="page-header">
							<h1>Domain Metrics</h1>
						</div>
						<div>

							<input type="hidden" th:value="${localhost}" id="localhost" name="localhost" />
							<div id="entryForm">
							<div class="ui-widget form-section">
							<div class="form-label">Domain:</div>
							<div><span class="form-label">http://</span><input id="website" style="width:250px"/></div>
							</div>
							
							<div id = "buttonDiv" class="ui-widget form-section">
							<button id="checkButton" onclick="beginCheck(localhost)">Check Metrics</button>
							</div>
							</div>
							
							<div id="spinner" style="display:none">
							<img th:src="@{/images/gears.gif}"/>
							</div>
							
							<div id="results" style="display:none">
							<div class="form-label">Page Title:</div>
							<div class="resultText" id="siteTitle"></div>
							<div style="height:25px">&nbsp;</div>
							
							<div class="form-label">URL:</div>
							<div class="resultText" id="siteUrl"></div>
							<div style="height:25px">&nbsp;</div>
							
							<div class="form-label"># of Equity Links:</div>
							<div class="resultText" id="equityLinks"></div>
							<div style="height:25px">&nbsp;</div>
							
							<div class="form-label"># of All Links:</div>
							<div class="resultText" id="allLinks"></div>
							<div style="height:25px">&nbsp;</div>
							
							<div class="form-label">Moz Rank (10-Point Scale):</div>
							<div class="resultText" id="mozRank10"></div>
							<div style="height:25px">&nbsp;</div>
							
							<div class="form-label">Page Authority:</div>
							<div class="resultText" id="pageAuthority"></div>
							<div style="height:25px">&nbsp;</div>
							
							<div class="form-label">Domain Authority:</div>
							<div class="resultText" id="domainAuthority"></div>
							<div style="height:25px">&nbsp;</div>
							</div>
							
							<div id="errorSection" class="ui-widget form-section" style="display:none">
								<div class="ui-state-error ui-corner-all" style="margin-top: 20px; padding: 0 .7em;">
									<p><span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
									<strong>ERROR:</strong> Problem reading the data. You might have exceeded your allowed calls for today or there
									could be a problem with Moz right now.</p>
								</div>
							</div>
							
							
							<div id = "anotherRunButtonDiv" style="display:none" class="ui-widget form-section">
							<button id="anotherRunButton" onclick="anotherRun()">Another Run</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


<div th:include="fragments/footer :: footer">...</div>
</body>
<script>
var localhost = $('#localhost').val();
</script>
</html>