<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Moz Metrics : Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <script th:src="@{/js/jquery.js}"></script>     
    <script th:src="@{/css/jquery-ui/jquery-ui.js}"></script>  
    
    <link th:href="@{/css/jquery-ui/jquery-ui.css}" rel="stylesheet"/>
    <link th:href="@{/css/sitestyle.css}" rel="stylesheet"/>
    
</head>
<body>
<div th:include="fragments/header :: header">...</div>


<h1>Moz Metrics</h1>

<div id="introText" style="margin-bottom:20px;width:100%;background-color: #e0ebeb; padding: 5px 5px 5px 5px" class="ui-widget">
This tool enables you to find the Moz metrics of websites. You'll need to use a Moz token and access ID to use this system. If you
don't have a token and access ID, you can request them (for free) <a href="https://moz.com/products/api/keys" target="_blank">from Moz.</a> 
</div>
<p/>
<table>
<thead>
<tr>
<th class="ui-widget">Task Name</th>
<th class="ui-widget">Description</th>
</tr>
</thead>
<tbody>
<tr>
<td class="ui-widget"><a th:href="@{/basicmetrics}">URL Metrics</a></td>
<td class="ui-widget">Retrieves basic metrics (like Page Authority and Domain Authority) about a URL that you provide.</td>
</tr>
<tr>
<td class="ui-widget"><a th:href="@{/linksmetrics}">Baklink Checker</a></td>
<td class="ui-widget">Provides a list of backlinks for a given URL.</td>
</tr>
</tbody>
</table>


<div th:include="fragments/footer :: footer">...</div>
</body>

</html>